@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");

:root {
  --button-small: 5vw;
  --button-big: 7vw;
  --background-color-main: white;
  --main-padding: 22px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0;
  background-color: red;
  width: 100vw;
  margin: auto;
  height: 100vh;
  background-color: var(--background-color-main);
}

.card {
  width: 98%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 2rem;
  margin: auto;
  height: 86vh;
  border-radius: 6px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  transition: transform 0.5s ease-in-out;
}

.card2 {
  position: absolute;
  top: 7vh;
  z-index: -2;
  left: 4px;
}

.card:hover {
  transform: translateX(-80%) rotate(-7deg);
}

.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  box-shadow: inset -1rem -22rem 5rem -10rem rgb(0, 0, 0);
  border-radius: 6px;
}

.mainnav {
  height: 7vh;
  width: 100%;
  background-color: var(--background-color-main);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding-left: var(--main-padding);
  font-size: 1.5rem;
}

.navbar {
  width: 100%;
  background-color: var(--background-color-main);
  list-style-type: none;

  height: 7vh;
}

.mainnav-special {
  display: block;
  text-align: center;
}

.mainnav-special h1 {
  background-color: red;
  text-align: center;
}

.navbar ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
  height: 100%;
}

.navbar ul li {
  list-style-type: none;
  cursor: pointer;
  transition: transform 0.5s ease;
}
.navbar ul li:hover {
  transform: scale(1.2);
}

.icon {
  font-size: 2rem;
}
.big {
  width: 65px;
  height: 65px;
}
.small {
  width: 45px;
  height: 45px;
}

.button {
  border-radius: 50%;
  border: 1px solid black;
  background-color: rgba(240, 248, 255, 0);
  cursor: pointer;
  position: relative;
  bottom: 80px;
}

.icon-button {
  transition: transform 0.5s ease;
  font-size: 1.5rem;
}

.button:hover .icon-button {
  transform: scale(1.2);
}
.special {
  font-size: 2.5rem;
  position: absolute;
  left: 11px;
  top: 12px;
}

.buttons {
  width: 100%;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 1px;
}

.prev {
  color: #e6af16;
  border-color: #e6af16;
}

.like {
  color: green;
  border-color: green;
}

.superlike {
  color: rgb(68, 68, 255);
  border-color: rgb(68, 68, 255);
}

.turbo {
  color: purple;
  border-color: purple;
}

.nope {
  color: red;
  border-color: red;
}

@media (min-width: 1000px) {
  body {
    width: 50vw;
  }
  .buttons {
    width: 50%;
  }
  .card2 {
    left: auto;
    width: 50%;
  }
}

.intro {
  color: white;
  z-index: 1;
  padding-left: var(--main-padding);
  display: flex;
  gap: 4px;
}

.name-age {
  display: flex;
  gap: 20px;
  align-items: center;
}

.name-age-same {
  font-size: 2.2rem;
  font-weight: 700;
}

.name-age-same:last-child {
  font-size: 2rem;
  font-weight: 400;
}

.intro {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 15vh;
}

.adventages {
  display: flex;
  gap: 5px;
  flex-flow: row wrap;
  margin-bottom: 160px;
}

.adventage {
  background-color: rgba(255, 255, 255, 0.13);
  color: white;
  border: 1px solid white;
  padding: 3px 15px;
  border-radius: 20px;
}
